@use "../utils/variables" as *;

.header {
  padding-top: 1.6rem;
  height: 7.2rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.2rem rgba($color: $primary-text-color, $alpha: 0.1);
  margin-bottom: 0;
  z-index: 100;

  &__brand-name {
    color: $primary-color;
    font-weight: $font-bold;
  }

  &__toggle {
    display: block;
    height: 3px;
    width: 3.8rem;
    border-radius: 2.4rem;
    position: relative;
    background-color: $secondary-text-color;

    @media screen and (max-width: 425px) {
      display: block;
    }

    @media screen and (min-width: 425px) {
      display: none;
    }

    &::after,
    &::before {
      content: "";
      display: block;
      height: 3px;
      width: 3.8rem;
      border-radius: 2.4rem;
      position: absolute;
      background-color: inherit;
    }

    &::after {
      bottom: 1.2rem;
    }
    &::before {
      top: 1.2rem;
    }
  }

  &__nav {
    @media screen and (max-width: 425px) {
      position: absolute;
      display: block;
      background-color: #fff;
      width: 100%;
      flex-direction: column;
      top: 7.2rem;
      left: 0;
      padding: 3.2rem 0;
      height: 0;
      opacity: 0;
      display: none;
    }
  }

  &__nav--active {
    display: flex;
    height: auto !important;
    opacity: 1 !important;
    border-bottom: 1px solid $light-color-3;
    z-index: 100;
  }

  &__nav-items {
    gap: 3.2rem;

    @media screen and (max-width: 425px) {
      display: flex;
      background-color: #fff;
      width: 100%;
      flex-direction: column;
    }
  }

  &__nav-link {
    &:link,
    &:visited {
      font-size: $font-size-3;
      color: $secondary-text-color;
      transition: $smooth;
    }

    &:hover,
    &:active {
      color: $primary-color;
    }
  }
}
