$primary-color: #fd7e14;
$primary-dark-color: #e67700;

$primary-text-color: #343a40;
$secondary-text-color: #868e96;

$light-color-1: #f8f9fa;
$light-color-2: #f1f3f5;
$light-color-3: #dee2e6;

$color-success: #40c057;
$color-error: #f03e3e;

// TYPOGRAPHY

$font-size-1: 3.2rem;
$font-size-2: 2.8rem;
$font-size-3: 1.8rem;

$font-bold: 700;

// ANIMATION & TRANSITION

$smooth: all 0.3s ease-in-out;
